extends layout

block content
  h1 Välj spår
  form 
    select(name="track")
      each item in queue.length ? queue : ['Spår saknas']
        option(value=item.name) #{item.name}
    button(class="btn",id="toAdminQueue") Gå till kö

  form(method="post", action="/admin/queue") 
    input(type="text", name="track", placeholder="Skriv spårnamn")
    button(class="btn",id="addTrack") Lägg till spår

block body_end 
    script(type='text/javascript' src='/js/index.js')
    script(type='text/javascript' src='/js/admin.js')

