extends layout

block content
  h1= title
  p Welcome to #{title}

  div#queue 
    div(class="queue-empty")
      p Kön är just nu tom
    div(class="add-to-queue")
      button(class="btn", onClick="addToQueue()") Ställ mig i kön
    div(class="remove-from-queue")
      button(class="btn", onClick="removeFromQueue()") Gå ur kön

    ul#queue-list