extends layout

block content
  h1 Välj spår
  form 
    input(type="text", name="name", placeholder="Skriv ditt namn")
    select(name="track")
      each item in queue.length ? queue : ['Spår saknas']
        option(value=item.name) #{item.name}
    button(class="btn",id="toQueue") Köa!